<div class="cards-container">
    <div class="card">
        <a routerLink="">
            <img src="https://images.unsplash.com/photo-1604135307399-86c6ce0aba8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80">
        </a>
        <div class="card-content">
            <a routerLink="" class="recipe-link">
                <h2 class="card-title">Яйца по панагюрски</h2>

            </a>
            <article class="card-info-container">
                <span class="card-user-container">
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fHww&w=1000&q=80" alt="">
                    <a href="">
                        <p>Petya</p>
                    </a>
                </span>
                <span class="card-likes-container">
                    <i class={{iconClass}}></i>
                    <p>2</p>
                </span>
            </article>
        </div>
    </div>
</div>