<div class="cards-container">
    <div *ngFor="let recipe of recipes" class="card">
        <div class="card-img-container">
            <a routerLink="{{recipe._id}}">
                <img src={{recipe?.imageUrl}}>
            </a>
        </div>
        <div class="card-content">
            <a routerLink="{{recipe?._id}}" class="recipe-link">
                <h2 class="card-title">{{recipe.title}}</h2>
            </a>
            <article class="card-info-container">
                <span class="card-user-container">
                    <img src={{recipe?.ownerImg}}>
                    <p>{{recipe.ownerName}}</p>
                </span>
                <span class="card-likes-container">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <p>{{recipe.likes.length}}</p>
                </span>
            </article>
        </div>
    </div>
</div>