.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 12px;
  max-width: 1880px;
  margin: 12px auto 0px auto;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  overflow: hidden;
  width: 300px;
  background-color: transparent;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.recipe-link {
  text-decoration: none;
  color: #fff;
}
.card-title {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin: 12px 0px;
  padding: 8px;
  font-size: 18px;
}

.card-title:hover {
  color: #ed5925;
  transition: ease-in-out 0.2s;
}
.likes-and-favorites-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 12px;
}
