<section class="header" id="header">
  <div class="header-container">
    <a routerLink="/" class="logo">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/my-recipes-logo.png" alt="Logo" />
    </a>
    <nav>
      <ul class="main-nav" role="list">
        <li><i class="fa-solid fa-house"></i><a href="#">Home</a></li>
        <li><i class="fa-solid fa-utensils"></i><a href="#">Recipes</a></li>
        <li><i class="fa-solid fa-plus"></i><a href="#">Add Recipe</a></li>
        <li><i class="fa-solid fa-right-to-bracket"></i><a routerLink="identity/login">Login</a></li>
        <li><i class="fa-solid fa-user-plus"></i><a routerLink="identity/register">Register</a></li>
        <li><i class="fa-solid fa-user-tie"></i><a href="#">Profile</a></li>
        <li><i class="fa-solid fa-right-to-bracket fa-rotate-180"></i><a href="#">Logout</a></li>
      </ul>
    </nav>
  </div>
</section>