<section class="header" id="header">
  <div class="container">
    <a href="#" class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4pwGmONCnQJqgeGexOS10uYgHHYjQy94mhg&usqp=CAU" alt="Logo" />
    </a>
    <nav>
      <ul class="nav" role="list">
        <li><a href="#"></a><i class="fa-solid fa-house"></i>Home</li>
        <li><a href="#"></a><i class="fa-solid fa-utensils"></i>Recipes</li>
        <li><a href="#"></a><i class="fa-solid fa-plus"></i>Add Recipe</li>
        <li><a href="#"></a><i class="fa-solid fa-right-to-bracket"></i>Login</li>
        <li><a href="#"></a><i class="fa-solid fa-user-plus"></i>Register</li>
        <li><a href="#"></a><i class="fa-solid fa-user-tie"></i>Profile</li>
        <li><a href="#"></a><i class="fa-solid fa-right-to-bracket fa-rotate-180"></i>Logout</li>
      </ul>
    </nav>
  </div>
</section>