<section class="header" id="header">
  <div class="header-container">
    <a routerLink="/" class="logo">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/my-recipes-logo.png" alt="Logo" />
    </a>
    <div *ngIf="(isLogged | async ) as Profile" class="user-profile-container">
      <span *ngIf="(username | async | uppercase) as Username" class="welcome">
        Welcome
        <span class="user-username">
          {{Username}}
        </span>
      </span>
      <a routerLink="/user/profile"><img *ngIf="(userImg | async) as Img" src={{Img}} alt="" class="user-profile-img"></a>

    </div>
    <nav>
      <ul class="main-nav" role="list">

        <li><i class="fa-solid fa-utensils"></i><a routerLink="/recipes/">All Recipes</a></li>
        <li *ngIf="(isLogged | async) as AddRecipe"><i class="fa-solid fa-plus"></i><a routerLink="/recipes/add">Add Recipe</a></li>
        <li *ngIf="!(isLogged | async) as Login"><i class="fa-solid fa-right-to-bracket"></i><a routerLink="/auth/login">Login</a></li>
        <li *ngIf="!(isLogged | async) as Register"><i class="fa-solid fa-user-plus"></i><a routerLink="/auth/register">Register</a></li>
        <li *ngIf="(isLogged | async) as Logout"><i class="fa-solid fa-right-to-bracket fa-rotate-180"></i><a routerLink="/auth/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</section>