.header {
  background-color: #000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
}

.header .header-container {
  padding: 8px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: white;
}

.main-nav li {
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ef5a26;
}

.main-nav li:hover {
  color: #fff;
  transition: ease-in-out 0.2s;
}

.main-nav li a {
  color: #fff;
}

.main-nav li i {
  margin-right: 6px;
}
.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}

.welcome {
  color: #fff;
}

.user-username {
  color: #fc5e27;
}
