.home-page-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.home-page-header {
  color: #fff;
  text-align: center;
  font-size: 6rem;
}
.see-all {
  font-size: 64px;
}

.see-all a {
  text-decoration: none;
}
.home-page-link {
  text-decoration: none;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-size: 4rem;
}

.text {
  color: #ee5a28;
}

.arrow {
  color: #ee5a28;
  font-size: 34px;
}

.my {
  color: #911115;
}
