<div class="home-page-container">
    <div class="home-page-content">
        <a class="home-page-link" routerLink="/recipes/" title="All Recipes">
            <h2 class="home-page-header">
                <span class="my">
                    MY
                </span>
                <span class="text">
                    RECIPES
                </span>
            </h2>
        </a>
        <div class="arrow">
            <i class="fa-solid fa-hand-pointer fa-beat"></i>
        </div>
        <h3 class="subtitle">
            Click <span class="text">to</span> see <span class="text">all</span>
        </h3>

    </div>

</div>