<div class="home-page-container">
    <div class="home-page-content">
        <a class="home-page-link" routerLink="/recipes/all">
            <h2 class="home-page-header">
                <span class="text">
                    All
                </span>RECIPES
            </h2>
            <div class="arrow">
                <i class="fa-solid fa-hand-pointer fa-beat"></i>
            </div>
        </a>
        <h3 class="subtitle">
            On <span class="text">One</span> Place
        </h3>

    </div>

</div>