<section class="details-page-container">
    <div class="details-page-content">
        <hr class="line">
        <h2 class="recipe-title">{{recipe.title}}</h2>
        <hr class="line">
        <div class="img-container">
            <span class="like-container">
                <button (click)="likeClickHandler()" [disabled]="(clicked)"><i *ngIf="(!isOwner && !isLiked)" class={{iconStyle}}></i></button>
                <button><i *ngIf="(!isOwner && isLiked)" class="fa-solid fa-thumbs-up"></i></button>
            </span>

            <img src={{recipe?.imageUrl}} alt="Logo">

        </div>
        <div *ngIf="(isOwner)" class="action-buttons">
            <a routerLink="/recipes/{{recipe._id}}/edit">Edit</a>
            <button (click)="deleteClickHandler()" type="submit" [disabled]="(deleteClick)">Delete</button>

        </div>
        <hr class="line">
        <div class="products-title-container">
            <h2 class="products-title">Products</h2>
        </div>
        <div class="products-list">
            <ul>
                <li *ngFor="let prod of recipe?.products">{{prod}}</li>

            </ul>
        </div>
        <hr class="line">
        <div class="products-title-container">
            <h2 class="desc-title">Method</h2>
        </div>
        <div class="desc-list">
            <ol>
                <li *ngFor="let prod of recipe?.description">{{prod}}</li>
            </ol>
        </div>
        <hr class="line">
    </div>
</section>