<section class="details-page-container">
    <div class="details-page-content">
        <div class="img-container">
            <span class="like-container">
                <i class="fa-regular fa-thumbs-up"></i>
            </span>

            <img src="https://www.simplyrecipes.com/thmb/AveFDCJ133tgQIU4h34mF-aUXD8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SimplyRecipes_StrawberryShortcakeCake_LEAD_4-92d1e5ea968543878257fe8d4c4a8421.jpg"
                alt="">
        </div>
        <div class="action-buttons">
            <a href="">Edit</a>
            <button>Delete</button>
        </div>
        <div class="products-title-container">
            <h2 class="products-title">Products</h2>
        </div>

        <div class="products-list">
            <ul>
                <li>Яйца</li>
                <li>Картофи</li>
                <li>Чубрица</li>
                <li>Пипер</li>
                <li>Олио</li>
                <li>Кренвирши</li>
            </ul>
        </div>
        <div class="products-title-container">
            <h2 class="desc-title">Method</h2>
        </div>
        <div class="desc-list">
            <ol>
                <li>Яйца</li>
                <li>Картофи</li>
                <li>Чубрица</li>
                <li>Пипер</li>
                <li>Олио</li>
                <li>Кренвирши</li>
            </ol>
        </div>
    </div>
</section>