.not-found-container {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.not-found-number {
  color: #fff;
  font-size: 10rem;
}

.not-found-text {
  font-size: 5rem;
  color: #fff;
}
